.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color:white;
    padding: 20px;
    margin:10px;
    width: auto;
    min-width: 100px;
    max-height: 400px;
    z-index: 1;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product__rating{
    display:flex;
}
.product__price{
    margin-top:5px;
}
.product > button{
    background-color: #f0c14b;
    border : 1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__info{
    width:100%;
    margin-bottom: 15px;
    height:100px;
}

.product{
    transition: 200ms transform ease-in-out;
}

.product:hover{
    box-shadow: 20px 20px 50px 15px grey;
    transform: scale(1.05);
    overflow:hidden;
}

